* {
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote {
    &:before,
    &:after {
        content: '';
        content: none;
    }
}

q {
    &:before,
    &:after {
        content: '';
        content: none;
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

input:focus,
button:focus {
    outline: none;
}

select {
    outline: none;
    cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
}
input, select, button {
    font-family: 'CircularStd-Book';
}


/*End reset*/

html {
    overflow-x: hidden;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: 'CircularStd-Medium';

}


// .home-demo-content .home-header {
//     top: 37px;
// }

// .home-demo-content .home-header.fixed {
//     top: 0;
// }


.clearfix {
    &:before, &:after {
        display: table;
        content: " ";
    }
    &:after {
        clear: both
    }
}




// body class
.modal-popup {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    &.for-video {
        position: relative;
    }
    &.crop-overlay {
        .overlay {
            background: rgba(255, 255, 255, 0.8);
        }
    }
    .overlay {
        position: fixed;
        background: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 8;
        visibility: hidden;
        opacity: 0;
    }
    .overlay {
        opacity: 1;
        visibility: visible;
    }
    footer {
        display: none!important;
    }
}

.audio-started {
    padding-bottom: 91px;
}


.videos-dimensions {
    &.play-has-started.play-user-active .play-text-track-display > div > div >div,
    &.play-has-started .play-text-track-display > div > div >div {
        padding-bottom: 0;
        display: inline-block !important;
        top: auto !important;
        text-shadow: 0 2px 5px #000;
    }

    &.play-has-started.play-user-inactive.play-playing .play-text-track-display > div > div {
        margin-top: 0
    }

    &.play-user-active .play-text-track-display {
        bottom: 90px;
    }

    &.play-user-inactive .play-text-track-display {
        bottom: 3em;
    }

    &.play-fluid.play-paused .play-text-track-display {
        bottom: 90px;
    }

    .play-text-track-display > div > div {
        position: absolute !important;
        top: auto !important;
    }
    .play-text-track-display {
        transition: 1s ease-in-out;
    }
    &.play-error .play-error-display .play-modal-dialog-content {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -80px 0 0;
        transform: translate(-50%, -50%);
        width: auto;
        height: auto;
    }
}


// header.home-header.fixed .first-user,
// header.fixed .first-user  {
//     display: none;
// }

// .min-content {
//     padding-top: 106px;
// }

// .home-demo-content .min-content {
//     padding: 0;
// }

// responsive
body {
    padding-top: 70px;

    &.first-user-activated {
        padding-top: 106px
    }
    .home-banner {
        margin-top: -70px;
    }
    &.body-video-page {
        padding-top: 0;
    }
}

@media screen and (min-width:1500px) {
    html {
        font-size: 18px;
    }

}

@media(max-width:1199px) {
    html {
        font-size: 15px;
    }

}

@media (max-width:1024px) {
    html {
        font-size: rem(14);
    }

}

@media (max-width:800px) {
    body {
        margin-bottom: 60px;
        padding-top: 56px;

        &.first-user-activated {
            padding-top: 93px
        }
        .home-banner {
            margin-top: -0;
        }
        &.body-video-page {
            padding-top: 0;
        }
    }

}

@media(max-width:796px) {
    body {
        &.first-user-activated {
            padding-top: 106px
        }
        &.body-video-page {
            padding-top: 0;
        }
    }

}

@media (max-width:767px) {
    body {
        padding-top: 56px;

        &.first-user-activated {
            padding-top: 108px
        }
        &.body-video-page {
            padding-top: 0;
        }
    }

}

@media (max-width:560px) {
    body {
        padding-top: 60px;

        &.first-user-activated {
            padding-top: 112px
        }
        &.body-video-page {
            padding-top: 0;
        }
    }

}

@media (max-width:480px) {
    html {
        font-size: rem(13);
    }

}

@media (max-width:441px) {
    body {
        &.first-user-activated {
            padding-top: 128px
        }
        &.body-video-page {
            padding-top: 0;
        }
    }

}