.vehicleList header{
    text-align: center;
    padding: 32px 20px;
    background-color: #0b4b52;
       border-bottom: 1px solid #FFF;
}
header .logo{
    width: auto;
    position: absolute;
    top: 0px;
    padding: 20px 10px;
}

.vehicleList header h3{
    margin: 0;
    font-weight: 600;
    font-size: 50px;
    color: #FFF;
}
.vehicleList .seasonSection,.vehicleList .listContainer {
    font-size: 18px;
    padding: 30px 0px 150px 0;
    width: 90%;
    margin: 0 auto;
    float: none;
    position: relative;
}
.vehicleList .listContainer .listTable{
    position: absolute;
    width: 100%;
    top: -120px;
    max-height: 600px;
    min-height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.vehicleList .seasonLabel{
    padding-top: 20px;
    font-size: 30px;    
}
.vehicleList .seasonLabel select, .vehicleList .seasonLabel input[type="text"]{
    width: auto;
    font-size: 22px;
    font-family: "Helvetica Neue",sans-serif;
    height: auto;
    padding: 13px 50px 13px 10px;
    position: relative;
}
.vehicleList .seasonLabel .searchIcon{
    margin-left: -58px;
    position: absolute;
    margin-top: 0.5px;
}
.vehicleList .seasonLabel .searchIcon img{
    width: 57px;
}
.vehicleList .seasonLabel input[type="text"]{
    width: 35%;
}
.vehicleList .seasonLabel button{ 
    font-size: 28px;
    background-color: #00adc6;
    padding: 5px 80px; 
    border-radius: 10px;
}

.vehicleList .seasonLabel span { 
    margin-left: 5%; 
    margin-right:15px;
    color: #FFF;
    font-size: 22px;
    font-weight: 600;
}
.seasonSection .seasonDate{
    font-size: 13px;
}
.seasonSection i.fa{
    font-size: 30px !important;
}
.seasonDate input{
    width: 120px;
    display: inline-block;
    height: 30px;
}
.seasonDate span{
    padding: 0 15px;
}




.container{
    
    padding: 0;
}
.vehicleSection{
    background-color: #e2e1e1;
    padding: 40px 60px 10px;
}
.vehicleSection hr{
    border-color: #d8d5d5;
    margin-top: 0px;
}
.vehicleSection h4{
    font-size: 30px;
}
.vehicleSection .col-md-4{
    padding-right: 80px;
}

.inline-block{
    display: inline-block;
}
.formLabel label{
    font-weight: normal;
    font-size: 18px;
    font-family: "Helvetica Neue",sans-serif;
    color: #676767;
    width: 100%;
    padding-bottom: 10px;
}
.formLabel select{
    height: auto;
    font-size: 25px;
    width: 75%		    
}
.formLabel input[type="text"] {
    height: auto;
    font-size: 25px;
    width: auto;
}
.formLabel img{
    margin-left: 20px;
    opacity: 0.6;			
}
.formLabel {
    padding-bottom: 40px;
}
.vehicleSection button{
    font-size: 20px;
    padding: 6px 30px;
    background-color: #00acc6 !important;
    border-color: #00acc6 !important;

}
.vehicleFooter .pull-right{
        padding: 20px 50px;
}
.vehicleFooter button{
    padding: 5px 30px;
    font-size: 20px;
    padding: 6px 30px;
}
.formLabel span{
    color:#018295;
}
.container{
    width: 89% !important;
}
button.disable {
    background-color: #CCC !important;
    border-color: #CCC !important;
    color: #FFF
}
.QRSection input[type="text"]{
    background-color: #CCC;
    width: 50%;
    font-size: 18px;
        padding: 10px 20px;
}
.QRSection input[type="checkbox"]{
        margin-right: 20px;
}
.QRSection .rescanLabel{
    font-weight: bold;
}
.statusSection img{
    margin: 0 10px;
}
span.disable{
    color: #CCC !important;
}
.vehicleList .mainSection{
    background-color: #0b4b52;
}
table thead{
    background-color: #FFF;
    font-size: 20px;
}
table thead th, table tbody td{ padding:15px 20px !important }
table tbody tr:nth-child(odd) {
    background-color: #e6e6e6;
    font-family: "Helvetica Neue",sans-serif;
}
table tbody tr:nth-child(even) {
    background-color: #FFF;
    font-family: "Helvetica Neue",sans-serif;
}
table tbody tr td:last-child{
    cursor: pointer;
}
.detailSection {
    width: 100%;
    z-index: 9999;
    position: absolute;
    background-color: #FFF;
    top: 10px;
    display: none;
}
.listTable table th i{
    float: right;
    cursor: pointer;

}
.listTable table thead th {
    position: relative;
}
.filterSubMenu.first{
    left: 10px;
}
.filterSubMenu {
    position: absolute;
    background-color: #FFF;
    padding: 15px 20px 5px 20px;
    box-shadow: 1px 6px 7px #CCC;
    top: 57px;
    right: 0px;
    width: 250px;
    z-index: 1;
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.filterSubMenu input[type="text"]{
    width: 90%;
}
.filterSubMenu i{
    margin-left: 2px;
    margin-top: 5px;
}
.filterSubMenu:before {
    content: ''
}
.filterSubMenu ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}
.filterSubMenu ul li {
    padding: 20px 0;
    border-bottom: 1px solid;
    font-size: 20px;
    font-weight: 300;
    line-height: 20px;
    vertical-align: middle;

}
.filterSubMenu ul li input[type="checkbox"]{
    width: 20px;
    height: 20px;
    background-color: #FFF;
    color: #FFF;
    margin-right: 15px;
}
.filterSubMenu ul li:last-child {
    border-bottom: 0px;
}

.rowSubMenu {
    position: relative;
}

.rowHighlight {
    border: 1px solid #000;
}



.filter {
    display: inline;
    position: relative;
    padding-left: 50px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .filter input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: 1px solid #000;
  }
  .filter:hover input ~ .checkmark {
    background-color: #ccc;
  }
  .filter input:checked ~ .checkmark {
    background-color: #FFF;
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .filter input:checked ~ .checkmark:after {
    display: block;
  }
  .filter .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #000;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .listItemVED ul img{
    margin-right: 15px;
  }
  td.rowSubMenu img.subMenuItem{
      padding: 10px;
  }