<div class="container">
    <header>
        <h3>Vehicle Registration</h3>		
    </header>
    <div class="col-md-12">
        <div class="seasonSection">
            <div class="seasonLabel">
                <i class="fa fa-calendar" aria-hidden="true"></i> 
                Period Duration
            </div>
            <div class="seasonDate">
                <input angular-mydatepicker name="mydate" [(ngModel)]="startDateModel" 
    [options]="myDatePickerOptions" #dp1="angular-mydatepicker" (click)="dp1.toggleCalendar()" (dateChanged)="startDateChanged($event)"/> <span>to</span>
    <input angular-mydatepicker name="mydate" [(ngModel)]="endDateModel" 
    [options]="myDatePickerOptions" #dp2="angular-mydatepicker" (click)="dp2.toggleCalendar()" (dateChanged)="endDateChanged($event)"/>
            </div>
        </div>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="col-md-12 vehicleSection">
        <div class="col-md-4">
            <i class="fa fa-user-o inline-block" aria-hidden="true"></i>
            <h4 class=" inline-block">Vendor Details</h4>
            <hr>
            <div class="formLabel form-group">
                <label>Vendor Name</label>
                <select class="form-control">
                    <option></option>
                    <option>Vendor 1</option>
                    <option>Vendor 2</option>
                </select>
            </div>
            <div class="formLabel form-group">
                <label>Vendor Contact</label>
                <input formControlName="vendorContact" type="text" name="" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName?.errors }">
                <div *ngIf="submitted && !!f.vendorContact?.errors" class="invalid-feedback">
                        <div *ngIf="!!f.vendorContact?.errors.required">Vendor Contact is required</div>
                    </div>
            </div>
            <div class="formLabel form-group">
                <label>Logistics Contact</label>
                <input formControlName="logisticsContact" type="text" name="" class="form-control" [ngClass]="{ 'is-invalid': submitted && !!f.firstName?.errors }">
                <div *ngIf="submitted && !!f.logisticsContact?.errors" class="invalid-feedback">
                        <div *ngIf="!!f.logisticsContact?.errors.required">Logistics Contact is required</div>
                    </div>
            </div>
        </div>
        <div class="col-md-8 vehicleDetails">
            <i class="fa fa-bus inline-block" aria-hidden="true"></i>
            <h4 class="inline-block">Vehicle Details</h4>
            <hr>
            <div class="col-md-6 " >
                <div class="formLabel form-group">
                    <label>Vehicle Number</label>
                    <input formControlName="vehicleNumber" type="text" name="" class="form-control" [ngClass]="{ 'is-invalid': submitted && !!f.firstName?.errors }">
                    <div *ngIf="submitted && !!f.vehicleNumber?.errors" class="invalid-feedback">
                            <div *ngIf="!!f.vehicleNumber?.errors.required">Vehicle Number is required</div>
                        </div>
                </div>
                <div class="formLabel form-group">
                    <label>Chassis Number</label>
                    <input formControlName="chassisNumber" type="text" name="" class="form-control" [ngClass]="{ 'is-invalid': submitted && !!f.firstName?.errors }">
                    <div *ngIf="submitted && !!f.chassisNumber?.errors" class="invalid-feedback">
                            <div *ngIf="!!f.chassisNumber?.errors.required">Chassis Number is required</div>
                        </div>
                </div>
                <div class="formLabel form-group">
                    <label>Type of Vehicle</label>
                    <input formControlName="typeofVehicle" type="text" name="" class="form-control" [ngClass]="{ 'is-invalid': submitted && !!f.firstName?.errors }">
                    <div *ngIf="submitted && !!f.typeofVehicle?.errors" class="invalid-feedback">
                            <div *ngIf="!!f.typeofVehicle?.errors.required">Type of Vehicle is required</div>
                        </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="formLabel form-group">
                    <label>Insurance Number</label>
                    <input formControlName="insuranceNumber" type="text" name="" class="form-control" [ngClass]="{ 'is-invalid': submitted && !!f.firstName?.errors }">
                    <div *ngIf="submitted && !!f.insuranceNumber?.errors" class="invalid-feedback">
                            <div *ngIf="!!f.insuranceNumber?.errors.required">Insurance Number is required</div>
                        </div>
                </div>
                <div class="formLabel form-group">
                    <label>Road-Worthy Number</label>
                    <input formControlName="roadWorthyNumber" type="text" name="" class="form-control" [ngClass]="{ 'is-invalid': submitted && !!f.firstName?.errors }">
                    <div *ngIf="submitted && !!f.roadWorthyNumber?.errors" class="invalid-feedback">
                            <div *ngIf="!!f.roadWorthyNumber?.errors.required">Road-Worthy Number is required</div>
                        </div>
                </div>
                <div class="formLabel form-group">
                    <label>Form C or Form A</label>
                    <input formControlName="formCorFormA" type="text" name="" class="form-control" [ngClass]="{ 'is-invalid': submitted && !!f.firstName?.errors }">
                    <div *ngIf="submitted && !!f.formCorFormA?.errors" class="invalid-feedback">
                            <div *ngIf="!!f.formCorFormA?.errors.required">Form C or Form A is required</div>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <i class="fa fa-user-o inline-block" aria-hidden="true"></i>
            <h4 class=" inline-block">Driver Details</h4>
            <hr>
            <div class="formLabel form-group">
                <label>Driver Name <span>(Optional)</span></label>
                <input formControlName="driverName" type="text" name="" class="form-control" [ngClass]="{ 'is-invalid': submitted && !!f.firstName?.errors }">
                <div *ngIf="submitted && !!f.driverName?.errors" class="invalid-feedback">
                        <div *ngIf="!!f.driverName?.errors.required">Driver Name is required</div>
                    </div>
            </div>
            <div class="formLabel form-group">
                <label>Driver Contact <span>(Optional)</span></label>
                <input formControlName="driverContact" type="text" name="" class="form-control" [ngClass]="{ 'is-invalid': submitted && !!f.firstName?.errors }">
                <div *ngIf="submitted && !!f.driverContact?.errors" class="invalid-feedback">
                        <div *ngIf="!!f.driverContact?.errors.required">Driver Contact is required</div>
                    </div>
            </div>
            <div class="formLabel form-group">
                <label>License Number <span>(Optional)</span></label>
                <input formControlName="licenseNumber" type="text" name="" class="form-control" [ngClass]="{ 'is-invalid': submitted && !!f.firstName?.errors }">
                <div *ngIf="submitted && !!f.licenseNumber?.errors" class="invalid-feedback">
                        <div *ngIf="!!f.licenseNumber?.errors.required">License Number is required</div>
                    </div>
            </div>
        </div>
        <div class="col-md-4">
            <i class="fa fa-qrcode inline-block" aria-hidden="true"></i>
            <h4 class=" inline-block">OR Code</h4>
            <hr>
            <div class="formLabel form-group">
                <div class="wihtespace"></div>
                <button name="" type="button" class="btn btn-primary">Scan</button>
            </div>
        </div>
    </div>
    <div class="vehicleFooter">
        <div class="pull-right form-group">
            <button class="btn btn-success">Submit</button>
        </div>
    </div>
</form>

</div>