.vehicleList header{
    text-align: center;
    padding: 32px 20px;
    background-color: #0b4b52;
       border-bottom: 1px solid #FFF;
}
.vehicleList header h3{
    margin: 0;
    font-size: 40px;
    color: #FFF;
}
.vehicleList .seasonSection,.vehicleList .listContainer {
    font-size: 18px;
    padding: 30px 0px 150px 0;
    width: 90%;
    margin: 0 auto;
    float: none;
    position: relative;
    

}
.vehicleList .listContainer .listTable{
    position: absolute;
    width: 100%;
    top: -120px;
}
.vehicleList .seasonLabel{
    padding-top: 20px;
    font-size: 30px;    
}
.vehicleList .seasonLabel select, .vehicleList .seasonLabel input[type="text"]{
    width: auto;
    font-size: 22px;
    font-family: "Helvetica Neue",sans-serif;
    height: auto;
    padding: 12px 50px 12px 10px;
    position: relative;
}
.vehicleList .seasonLabel input[type="text"]{
    width: 35%;
}
.vehicleList .seasonLabel button{ 
    font-size: 28px;
    background-color: #00adc6;
    padding: 5px 80px; 
    border-radius: 10px;
}
.vehicleList .seasonLabel input[type="text"]:after{
    content: url(../../../../assets/images/search.png);
    width: 60px;
       height: 30px;
    background-image: url(../../../../assets/images/search.png);
}
.vehicleList i.fa{
    font-size: 30px !important;	
    padding-right: 15px;
}
.vehicleList .seasonLabel span { 
    margin-left: 5%; 
    margin-right:2%;
    color: #FFF;
    font-size: 20px;  
}
.seasonSection .seasonDate{
    font-size: 13px;
}
.seasonSection i.fa{
    font-size: 30px !important;
}
.seasonDate input{
    width: 120px;
    display: inline-block;
    height: 30px;
}
.seasonDate span{
    padding: 0 15px;
}
.col-md-2.buttonSection button i {
    margin-right: 10px;
}



.container{
    
    padding: 0;
}
.vehicleSection{
    background-color: #e2e1e1;
    padding: 40px 60px 10px;
}
.vehicleSection hr{
    border-color: #d8d5d5;
    margin-top: 0px;
}
.vehicleSection h4{
    font-size: 30px;
}
.vehicleSection .col-md-4{
    padding-right: 80px;
}

.inline-block{
    display: inline-block;
}
.formLabel label{
    font-weight: normal;
    font-size: 18px;
    font-family: "Helvetica Neue",sans-serif;
    color: #676767;
    width: 100%;
    padding-bottom: 10px;
}
.formLabel select{
    height: auto;
    font-size: 25px;
    width: 75%		    
}
.formLabel input[type="text"] {
    height: auto;
    font-size: 25px;
    width: auto;
}
.formLabel img{
    margin-left: 20px;
    opacity: 0.6;			
}
.formLabel {
    padding-bottom: 40px;
}
.vehicleSection button{
    font-size: 20px;
    padding: 6px 30px;
    background-color: #00acc6 !important;
    border-color: #00acc6 !important;

}
.vehicleFooter .pull-right{
        padding: 20px 50px;
}
.vehicleFooter button{
    padding: 5px 30px;
    font-size: 20px;
    padding: 6px 30px;
}
.formLabel span{
    color:#018295;
}
.container{
    width: 89% !important;
}
button.disable {
    background-color: #CCC !important;
    border-color: #CCC !important;
    color: #FFF
}
.QRSection input[type="text"]{
    background-color: #CCC;
    width: 50%;
    font-size: 18px;
        padding: 10px 20px;
}
.QRSection input[type="checkbox"]{
        margin-right: 20px;
}
.QRSection .rescanLabel{
    font-weight: bold;
}
.statusSection img{
    margin: 0 10px;
}
span.disable{
    color: #CCC !important;
}
.vehicleList .mainSection{
    background-color: #0b4b52;
}
.detailSection {
    width: 90%;
    z-index: 9999;
    position: absolute;
    background-color: #FFF;
    top: 160px;
    left: 80px;
    margin-bottom: 20px;
}
.detailSection h1{
    margin-bottom: 50px;
    font-size: 40px;
    margin-top: 40px;
}
.detailSection .topHeader{
    background-color: #F2F2F2;
        position: relative;
}
.detailSection .topHeader span.box{
    border: 1px solid #000;
    padding: 3px;
    margin-left:30px;
}
.detailSection hr{
    border-color: #d8d5d5;
    margin-top: 0px;
    width: 60%;
    float: left;
}
.bodyDetails h2{
    width: 100%;
}
.bodyDetails button i.fa{ font-size: 24px !important; }
.detailSection .bodyDetails .buttonSection button{
    font-size: 24px;
    min-width: 70%;
    text-align: left;
    margin-bottom: 10px;
}
.detailSection .topHeader p{
    margin-left: 5%;
    font-size: 20px;
    margin-bottom: 40px;
}
.bodyDetails {
    position: relative;
    padding: 50px 10px 50px 50px;
    box-shadow: 0px 2px 6px #CCC;
}
.bodyDetails .col-md-5 p{
    margin-bottom: 15px;
    margin-bottom: 20px;
    font-size: 18px;
}
.bodyDetails .col-md-5 p span{
    font-family: "Helvetica Neue",sans-serif;
}
.bodyDetails .col-md-5 p span.vendorStatus{ color: red; }
.documentUpload p span a{
    text-decoration: underline;
    color: #000;
}
.detailSection .topHeader span.closeTap{
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
    font-size: 23px;
}
.bodyDetails .navigation{
    position: absolute;
    padding: 1px 16px;
    background-color: #FFF;
    top: 45%;
    cursor: pointer;
}
.bodyDetails .navigation i{
    font-size: 45px !important;
    padding: 0px

}
.bodyDetails .navigation.rightArrow{
    border-top-right-radius: 50%;
    box-shadow: 5px 0px 8px #CCC;
    border-bottom-right-radius: 50%;
    right:  -45px;
}
.bodyDetails .navigation.leftArrow{
    border-top-left-radius: 50%;
    box-shadow: -3px 1px 5px 0px #CCC;
    border-bottom-left-radius: 50%;
    left: -45px;
}

.disableNavigation {
    background-color: #e8e8e8 !important;
}