<div class="container seasonList">
  <header>
    <h3>Period Duration</h3>		
    <div class="logo"><img src="../../../assets/images/olam cocoa.png"></div>
  </header>
  <div class="col-md-12 mainSection">
    <div class="seasonSection">
        <button class="btn btn-primary pull-right">Add Time Slot</button>
        <div class="clearfix"></div>
    </div>  
  </div>
  <div class="clearfix"></div>
  <div class="listContainer">
    <div class="listTable" >
      
      <div class="popupAdd">
        <div class="col-sm-12">
          <h3 class="col-sm-12 popupRow">Add New Time Slot</h3>
          <div class="col-sm-12 popupRow">
            <label>Organization Name</label>
            <input type="text" placeholder="Enter Organization Name">
          </div>
          <div class="col-sm-12 popupRow">
            <div class="col-sm-5">
              <label>Start Duration</label>
              <input type="text" placeholder="Start Month">
            </div>
            <div class="col-sm-2"><label>&nbsp;</label><img src="../../../assets/images/Line 24.png" width="38"></div>
            <div class="col-sm-5">
              <label>&nbsp;</label>
              <input type="text" placeholder="Start Year">
            </div>
          </div>
          <div class="col-sm-12 popupRow">
            <div class="col-sm-5">
              <label>End Duration</label>
              <input type="text" placeholder="End Month">
            </div>
            <div class="col-sm-2">
              <label>&nbsp;</label>
              <img src="../../../assets/images/Line 24.png" width="38">
            </div>
            <div class="col-sm-5">
              <label>&nbsp;</label>
              <input type="text" placeholder="End Year">
            </div>
          </div>
          <div class="col-sm-12 popupRow">
              <button class="btn btn-primary pull-right col-sm-3">Add</button>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>
      <div class="seasonRows">
          <div class="rowHead">
              <div class="column">Purchase Organization</div>
              <div class="column">Start Month</div>
              <div class="column">Start Year</div>
              <div class="column">End Month</div>
              <div class="column">End Year</div>
              <div class="column last"></div>
              <div class="clearfix"></div>
          </div>
          
          <div class="rowBody">
              <div class="rowSeason">
                <div class="column">Thor Industries</div>
                <div class="column">August</div>
                <div class="column">2019</div>
                <div class="column">July</div>
                <div class="column">2019</div>
                <div class="column last">
                  <img src="../../../assets/images/menu-item.png" class="subMenuItem">
                  <div class="filterSubMenu listItemVED">
                    <ul>
                      <li><img src="../../../assets/images/pencil-edit-button.png" width="26">Edit</li>
                      <li><img src="../../../assets/images/rubbish-bin.png" width="25">Delete</li>
                    </ul>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="rowSeason">
                <div class="column">Thor Industries</div>
                <div class="column">August</div>
                <div class="column">2019</div>
                <div class="column">July</div>
                <div class="column">2019</div>
                <div class="column last">
                  <img src="../../../assets/images/menu-item.png" class="subMenuItem">
                  <div class="filterSubMenu listItemVED">
                    <ul>
                      <li><img src="../../../assets/images/pencil-edit-button.png" width="26">Edit</li>
                      <li><img src="../../../assets/images/rubbish-bin.png" width="25">Delete</li>
                    </ul>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="rowSeason">
                <div class="column">Thor Industries</div>
                <div class="column">August</div>
                <div class="column">2019</div>
                <div class="column">July</div>
                <div class="column">2019</div>
                <div class="column last">
                  <img src="../../../assets/images/menu-item.png" class="subMenuItem">
                  <div class="filterSubMenu listItemVED">
                    <ul>
                      <li><img src="../../../assets/images/pencil-edit-button.png" width="26">Edit</li>
                      <li><img src="../../../assets/images/rubbish-bin.png" width="25">Delete</li>
                    </ul>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
          </div>
            
      </div>
      
    </div>
  </div>
</div>
  